 *{margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: #f5f5f5;
	/* 文字大小 */
	font-size: 14px;
}
body,html{
	width: 100%;
	height: 100%;
}
.first{
	  width: 100%;
	  height: 13.77rem;
	  background-image: url('../img/screen.png'),linear-gradient(#3bbdff,#46e5ff);
	  /* 让图片不重复出现 */
	  background-repeat: no-repeat;
	  background-position: bottom;
	  background-size: 100% auto,cover;
}
.first .pos{
	  width: 100%;
	  height: 1.6rem;
	  color: #ffffff;
	  font-size: 40px;
	  text-align: center;
	  line-height: 1.6rem;
}
.first .air{
	  width: 2.1rem;
	  height: 1.26rem;
	  background: #f1ab62;
	  border-radius: 0.15rem;
	  /* 左边距 */
	  margin-left: 0.27rem;  
}
.first .air h4{
	font-size: 0.24rem;
	color : #fff;
	text-align: center;
	line-height: 0.6rem;
	/* 字体加粗 */
	font-weight: 400;
}
.first .air h5{
	font-size: 0.34rem;
	color : #fff;
	text-align: center;
	font-weight: 400;
}
.first .title1{
	  width: 100%;
	  height: 1.3rem;
	  color: #ffffff;
	  font-size: 1.3rem;
	  text-align: center;
	  margin-top: 0.5rem;
}
.first .title2{
	  width: 100%;
	  height: 0.6rem;
	  color: #ffffff;
	  font-size: 0.6rem;
	  text-align: center;
	  margin-top: 0.4rem;
}
.first .title3{
	  width: 100%;
	  height: 0.4rem;
	  color: #ffffff;
	  font-size: 0.4rem;
	  text-align: center;
	  margin-top: 0.3rem;
}
.first .title4{
	  width: 100%;
	  height: 0.5rem;
	  color: #ffffff;
	  font-size: 0.5rem;
	  text-align: center;
	  margin-top: 1.2rem;
}
.second{
	  width: 100%;
	  height: 3rem;
	  background: #fff;
	  border-bottom: 0.1rem solid #e4e4e4;
}
.second .today{
	width: 5.4rem;
	height: 1.47rem;
	border-right: 0.03rem solid #e4e4e4;
	float: left;
	margin-top: 0.72rem;
}
.second .today .top{
	width: 100%;
	height: 0.6rem;
}
.second .today .top .todayText{
	float: left;
	width: 0.95rem;
	height: 100%;
	line-height: 0.3rem;
	margin-left: 0.56rem;
}
.second .today .top .tem{
	/* 水平排开设置浮动 */
	float: right;
	/* width: 3rem; */
	height: 100%;
	line-height: 0.3rem;
	margin-right: 0.59rem;
}
.second .today .bottom{
	width: 100%;
	height: 1.41rem;
}
.second .today .bottom .con{
	width: 1.9rem;
	height: 100%;
	margin-left: 0.56rem;
    line-height: 1.41.rem;
}
.second .today .bottom .conPic{
	width: 0.56rem;
	height: 0.56rem;
	float: right;
	margin-top: -1.3rem;
	/* background: orange; */
	margin-right: 0.8rem;
	background-image: url('../img/1.png');
    background-size: cover;
}
.second .tomorrow{
	width: 5.37rem;
	height: 1.47rem;
	float: left;
	margin-top: 0.72rem;
}
.second .tomorrow .top{
	width: 100%;
	height: 0.6rem;
}
.second .tomorrow .tomorrowText{
	float: left;
	width: 0.95rem;
	height: 100%;
	/* line-height: 0.3rem; */
	margin-left: 0.56rem;
	line-height: 0.3rem;
}
.second .tomorrow .top .tem{
	/* 水平排开设置浮动 */
	float: right;
	width: 1.9rem;
	height: 100%;
	/* line-height: 1rem; */
	/* margin-left: 2rem; */
	text-align: right;
	margin-right: 0.55rem;
	line-height: 0.5rem;
}
.second .tomorrow .bottom{
	width: 100%;
	height: 1.41rem;
}
.second .tomorrow .bottom .con{
	width: 1.9rem;
	height: 100%;
	margin-left: 0.56rem;
    line-height: 0.5rem;
}
.second .tomorrow .bottom .conPic{
	width: 0.56rem;
	height: 0.56rem;
	float: right;
	margin-top: -1.3rem;
	/* background: orange; */
	margin-right: 0.55rem;
    background-image: url('../img/0.png');
    background-size: cover;
}
.third{
	width: 100%;
	height: 2.8rem;
	background: #fff;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	padding: 0.88rem 0 0.88rem 0;
	/* background: red; */
	/* x方向允许出现滚动条 */
	overflow-x: auto;
	overflow-y: hidden;
}
.third::-webkit-scrollbar{
	width: 0;
}
.third .wrap{
	width: 100%;
	height: 100%;
	/* background: yellow; */
	/* 弹性盒子 */
	display: flex;
}
.third .wrap .box{
	width: 1.95rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
}
.third .wrap .box .time{
	font-size: 0.24rem;
    color: #999;
    text-align: center;

}
.third .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/1.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box .timeTem{
	font-size: 0.26rem;
	color: #333;
	text-align: center;
}
.forth{
	width: 100%;
	height: 7rem;
	background: #fff;
	margin-top: 0.33rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	padding: 0.88rem 0 0.88rem 0;
	/* background: red; */
	/* x方向允许出现滚动条 */
	overflow-x: auto;
	overflow-y: hidden;
}
.forth::-webkit-scrollbar{
	width: 0;
}
.forth .wrap{
	width: 100%;
	height: 100%;
	/* background: yellow; */
	/* 弹性盒子 */
	display: flex;
}
.forth .wrap .box{
    width: 2.3rem;	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
}
.forth .wrap .box .time{
	font-size: 0.24rem;
    color: #999;
    text-align: center;
}
.forth .wrap .box .wea{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.8rem;
}
.forth .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/1.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.57rem auto 0.5rem auto;
}
.forth .wrap .box .timeTem1{
	font-size: 0.24rem;
    color: #333;
    text-align: center;
}
.forth .wrap .box .timeTem2{
	font-size: 0.24rem;
    color: #333;
    text-align: center;
    margin-top: 0.5rem;
}
.forth .wrap .box .wind{
	font-size: 0.24rem;
    color: #b5b5b5;
    text-align: center;
    margin-top: 0.5rem; 
}
.forth .wrap .box .windId{
	font-size: 0.24rem;
    color: #999;
    text-align: center;
    margin-top: 0.5rem;
}
.fifth{
	width: 100%;
	height: 3.0rem;
	background: #fff;
	margin-top: 0.33rem;
	border-bottom: 0.03rem solid #e4e4e4;
	padding: 0 0 0 0;
	/* background: red; */
	/* x方向允许出现滚动条 */
	/* overflow-x: auto;
	overflow-y: hidden; */
	overflow: hidden;
}
/* .fifth::-webkit-scrollbar{
	width: 0;
} */
.fifth .wrap{
	width: 100%;
	height: 100%;
	/* background: yellow; */
	/* 弹性盒子 */
	display: flex;
}
.fifth .wrap .box{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.fifth .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/a.png');
	background-size: cover;
	/* background: orange; */
	margin: 0rem auto 0rem auto;
	margin-top: 0.3rem;
}
.fifth .wrap .box .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box1{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.fifth .wrap .box1 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/b.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.fifth .wrap .box1 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box1 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box2{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.fifth .wrap .box2 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/c.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.fifth .wrap .box2 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box2 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box3{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.fifth .wrap .box3 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/d.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.fifth .wrap .box3 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.fifth .wrap .box3 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.six{
	width: 100%;
	height: 3rem;
	background: #fff;
	margin-top: 0rem;
	border-bottom: 0.03rem solid #e4e4e4;
	/* padding: 0.88rem 0 0.88rem 0; */
	/* background: red; */
	/* x方向允许出现滚动条 */
	/* overflow-x: auto;
	overflow-y: hidden; */
	overflow: hidden;
}
/* .six:-webkit-scrollbar{
	width: 0;
} */
.six .wrap{
	width: 100%;
	height: 100%;
	/* background: yellow; */
	/* 弹性盒子 */
	display: flex;
}
.six .wrap .box{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;

}
.six .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/e.png');
	background-size: cover;
	/* background: orange; */
	margin: 0rem auto 0rem auto;
	margin-top: 0.3rem;
}
.six .wrap .box .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box1{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.six .wrap .box1 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/f.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.six .wrap .box1 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box1 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box2{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.six .wrap .box2 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/g.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.six .wrap .box2 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box2 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box3{
    width: 2.7rem;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
	border-right: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
}
.six .wrap .box3 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/h.png');
	background-size: cover;
	/* background: orange; */
	margin: 0.05rem auto 0.05rem auto;
	margin-top: 0.3rem;
}
.six .wrap .box3 .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.six .wrap .box3 .abcd{
	font-size: 0.35rem;
    color: #999;
    text-align: center;
    margin-top: 0.3rem;
}
.seven{
	width: 100%;
	height: 1.12rem;
	background: #f5f5f5;
	margin-top: 0.28rem;
	border-bottom: 0.03rem solid #e4e4e4;
	/* padding: 0.88rem 0 0.88rem 0; */
	/* background: red; */
	/* x方向允许出现滚动条 */
}
.seven .wrap{
	width: 100%;
	height: 100%;
	/* background: yellow; */
	/* 弹性盒子 */
	display: flex;
}
.seven .wrap .box{
    width: 100%;
	height: 100%;
	/* 收缩程度 */
	flex-shrink: 0;
	/* background: blue; */
	border-bottom: 0.03rem solid #e4e4e4;
}
.seven .wrap .box .abc{
	font-size: 0.35rem;
    color: #e0e0e0;
    text-align: center;
    margin-top: 0.3rem;
}
.city{
	width: 100%;
	height: 100%;
	background: #fff;
	/* 固定位置 */
    position: fixed;
    top: 0;
    left: 0;
    /* 隐藏 */
    display: none;
   /* Y轴滚动条 */
    overflow-y: auto;
}
.city .search{
	width: 100%;
	height: 1.3rem;
	background: #fff;
	/* 设置元素下边框的样式，线的高度，solid是实线 */
	border-bottom: 0.03rem solid #e4e4e4;
}
.city .search .searchBox{
	width: 7.61rem;
	height: 0.86rem;
	border-radius: 0.43rem;
	background: #f2f2f2;
	/* boeder： 边框 */
	border: 0;
	/* 上 右 下 左 */
	margin: 0.24rem 0 0 0.36rem;
	padding-left: 0.93rem;
	font-size: 0.32rem;
	color: #808080;
	float: left;
}
.city .search .button{
	float: left;
	font-size: 0.32rem;
	color: #434343;
	width: 1.83rem;
	height: 0.86rem;
	margin-top: 0.24rem;
	/* 水平中心 */
	text-align: center;
	/* 垂直中心 */
	line-height: 0.86rem;
}
.city .citys{
	width: 100%;
	/* 滚动条 */
	overflow: hidden;
	background: #ffff;
	padding: 0.34rem;
	/* box 实际大小*/
	box-sizing: border-box;
}
.city .citys .title{
	width: 100%;
	font-size: 0.36rem;
	/* color: #4444; */
}
.city .citys .con{
	width: 100%;
	/* background: blue; */
	margin-top: 0.4rem;
	overflow: hidden;
}
.city .citys .con .box{
	width: 3.16rem;
	height: 0.79rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.3rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	margin-right: 0.3rem;
	margin-bottom: 0.22rem;
}
.city .citys .con .box:nth-child(3n){
	margin-right: 0;
}